/*
!.bash_logout
!.bash_profile
!.bashrc
!.config/
.config/google-chrome/*
.config/qutebrowser/bookmarks/*
.config/ibus/bus/*
!.dir_colors
!.dmenurc
!.dmrc
!.doom.d/
!.gimp-2.8/
!.gnupg/
.gnupg/public-keys.d/*
!.gtkrc-2.0
!.icons/
!.lesshst
!.makepkg.conf
!.moc/
!.pki/
!.profile
!.urxvt/
!.viminfo
!.Xclients
!.xinitrc
!.Xresources
!.Xresources.old
!.yarn/
!.yarnrc
!.zshrc
!.gitignore
